@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}
body{
    background: #222;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.card{
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg ,#00feba ,#5b548a);
    color: #fff;
    margin: auto  ;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}
.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search input{
    border: none;
    outline: none;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px ;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}
.search button{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}
.search button img {
    width: 17px;
}
.weather{
    display: none;
}
.weather-icon img{
    width: 170px;
    margin-top: 30px;
}
.weather h1 {
    font-size: 50px;
    font-weight: 500;
}
.weather h2 {
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}
.detai{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 50px;
}
.col {
    display: flex;
    align-items: center;
    text-align: left;
}
.col img{
    width: 40px;
    margin-right: 10px;
}
.humidity , .wind {
    font-size: 28px;
    margin-top: 06px ;
}